@import 'extensions.scss';

.gdo-scroll-texture {
    //background-image: url('assets/images/scroll-texture.png');
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: center;
}