<div [class]="wrapperStyleClass" [style]="wrapperStyle">
	<ng-container *ngIf="isLink; else imageOnly">
        <a [routerLink]="linkUrl">
            <img  
                [class]="imgStyleClass" 
                [src]="logoImage" 
                [alt]="logoAltText"
                [style]="imgStyle"
            />
        </a>
    </ng-container>

    <ng-template #imageOnly>
        <img  
            [class]="imgStyleClass" 
            [src]="logoImage" 
            [alt]="logoAltText"
            [style]="imgStyle"
        />
    </ng-template>
</div>