<p-inputMask #inputmaskRef
    [formControl]="innerControl"
    [type]="options.type ?? 'text'"
    [slotChar]="options.slotChar ?? '_'"
    [autoClear]="options.autoClear ?? true"
    [showClear]="options.showClear ?? false"
    [style]="options.style"
    [inputId]="options.inputId"
    [styleClass]="options.styleClass"
    [placeholder]="options.placeholder"
    [size]="options.size"
    [maxlength]="options.maxlength"
    [tabindex]="options.tabindex"
    [title]="options.title"
    [variant]="options.variant ?? 'outlined'"
    [ariaLabel]="options.ariaLabel"
    [ariaLabelledBy]="options.ariaLabelledBy"
    [ariaRequired]="options.ariaRequired"
    [disabled]="options.disabled ?? false"
    [readonly]="options.readonly"
    [mask]="options.mask"
    [unmask]="options.unmask"
    [name]="options.name"
    [required]="options.required ?? false"
    [characterPattern]="options.characterPattern ?? '[A-Za-z]'"
    [autofocus]="options.autofocus"
    [autocomplete]="options.autocomplete"
    [keepBuffer]="options.keepBuffer ?? false"
    (onComplete)="onCompleteHandler($event)"
    (onFocus)="onFocusHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onInput)="onInputHandler($event)"
    (onKeydown)="onKeydownHandler($event)"
    (onClear)="onClearHandler($event)">
</p-inputMask>
