<!-- <p-dock #dockRef [model]="dockedDialogs" [position]="'bottom'">

    <ng-template pTemplate="item" let-item>
        <div class="flex-standard p-2" style=" max-height: 2rem; border-radius: 5px; background: grey;">
            <span class="mr-2">{{item.label}}</span>
            <i style="z-index: 10000" class="pi pi-window-maximize mr-2" (click)="restoreDialog(item.state.dialog)"></i>
            <i style="z-index: 10000" class="pi pi-times" (click)="closeDialog(item.state.dialog)"></i>
        </div>
    </ng-template>
    
</p-dock> -->