<p-splitButton #splitButtonRef
    [model]="options.model"
    [severity]="options.severity"
    [raised]="options.raised ?? false"
    [rounded]="options.rounded ?? false"
    [text]="options.text ?? false"
    [outlined]="options.outlined ?? false"
    [size]="options.size ?? null"
    [plain]="options.plain ?? false"
    [icon]="options.icon"
    [iconPos]="options.iconPos ?? 'left'"
    [label]="options.label"
    [style]="options.style"
    [styleClass]="options.styleClass"
    [menuStyle]="options.menuStyle"
    [menuStyleClass]="options.menuStyleClass"
    [tabindex]="options.tabindex"
    [appendTo]="options.appendTo"
    [dir]="options.dir"
    [expandAriaLabel]="options.expandAriaLabel"
    [showTransitionOptions]="options.showTransitionOptions ?? '.12s cubic-bezier(0, 0, 0.2, 1)'"
    [hideTransitionOptions]="options.hideTransitionOptions ?? '.1s linear'"
    [buttonProps]="options.buttonProps"
    [menuButtonProps]="options.menuButtonProps"
    [autofocus]="options.autofocus"
    (onClick)="onClickHandler($event)"
    (onDropdownClick)="onDropdownClickHandler($event)">
</p-splitButton>
