<p-inputNumber #inputNumber
    [showButtons]="options?.showButtons ?? inputNumber.showButtons"
    [format]="options?.format ?? inputNumber.format"
    [buttonLayout]="options?.buttonLayout ?? inputNumber.buttonLayout"
    [inputId]="options?.inputId ?? inputNumber.inputId"
    [styleClass]="options?.styleClass ?? inputNumber.styleClass"
    [style]="options?.style ?? inputNumber.style"
    [placeholder]="options?.placeholder ?? inputNumber.placeholder"
    [size]="options?.size ?? inputNumber.size"
    [maxlength]="options?.maxlength ?? inputNumber.maxlength"
    [tabindex]="options?.tabindex ?? inputNumber.tabindex"
    [title]="options?.title ?? inputNumber.title"
    [ariaLabelledBy]="options?.ariaLabelledBy ?? inputNumber.ariaLabelledBy"
    [ariaLabel]="options?.ariaLabel ?? inputNumber.ariaLabel"
    [ariaRequired]="options?.ariaRequired ?? inputNumber.ariaRequired"
    [name]="options?.name ?? inputNumber.name"
    [required]="options?.required ?? inputNumber.required"
    [autocomplete]="options?.autocomplete ?? inputNumber.autocomplete"
    [min]="options?.min ?? inputNumber.min"
    [max]="options?.max ?? inputNumber.max"
    [incrementButtonClass]="options?.incrementButtonClass ?? inputNumber.incrementButtonClass"
    [decrementButtonClass]="options?.decrementButtonClass ?? inputNumber.decrementButtonClass"
    [incrementButtonIcon]="options?.incrementButtonIcon ?? inputNumber.incrementButtonIcon"
    [decrementButtonIcon]="options?.decrementButtonIcon ?? inputNumber.decrementButtonIcon"
    [readonly]="options?.readonly ?? inputNumber.readonly"
    [step]="options?.step ?? inputNumber.step"
    [allowEmpty]="options?.allowEmpty ?? inputNumber.allowEmpty"
    [locale]="options?.locale ?? inputNumber.locale"
    [localeMatcher]="options?.localeMatcher ?? inputNumber.localeMatcher"
    [mode]="options?.mode ?? inputNumber.mode"
    [currency]="options?.currency ?? inputNumber.currency"
    [currencyDisplay]="options?.currencyDisplay ?? inputNumber.currencyDisplay"
    [useGrouping]="options?.useGrouping ?? inputNumber.useGrouping"
    [minFractionDigits]="options?.minFractionDigits ?? inputNumber.minFractionDigits"
    [maxFractionDigits]="options?.maxFractionDigits ?? inputNumber.maxFractionDigits"
    [prefix]="options?.prefix ?? inputNumber.prefix"
    [suffix]="options?.suffix ?? inputNumber.suffix"
    [inputStyle]="options?.inputStyle ?? inputNumber.inputStyle"
    [inputStyleClass]="options?.inputStyleClass ?? inputNumber.inputStyleClass"
    [showClear]="options?.showClear ?? inputNumber.showClear"
    [disabled]="options?.disabled ?? inputNumber.disabled"
    (onBlur)="onBlurHandler($event)"
    (onFocus)="onFocusHandler($event)"
    (onInput)="onInputHandler($event)"
    (onKeyDown)="onKeyDownHandler($event)"
    (onClear)="onClearHandler()"
    [formControl]="innerControl">
</p-inputNumber>