<p-autoComplete #autoCompleteRef
    [appendTo]="options.appendTo ?? 'body'"
    [ariaLabel]="options.ariaLabel"
    [ariaLabelledBy]="options.ariaLabelledBy"
    [autocomplete]="options.autocomplete ?? 'off'"
    [autofocus]="options.autofocus"
    [autoHighlight]="options.autoHighlight"
    [autoOptionFocus]="options.autoOptionFocus ?? false"
    [completeOnFocus]="options.completeOnFocus ?? false"
    [dataKey]="options.dataKey"
    [delay]="options.delay ?? 300"
    [dropdown]="options.dropdown"
    [dropdownAriaLabel]="options.dropdownAriaLabel"
    [dropdownIcon]="options.dropdownIcon"
    [dropdownMode]="options.dropdownMode ?? 'blank'"
    [emptyMessage]="options.emptyMessage"
    [emptySelectionMessage]="options.emptySelectionMessage"
    [field]="options.field"
    [focusOnHover]="options.focusOnHover"
    [forceSelection]="options.forceSelection"
    [formControl]="innerControl"
    [group]="options.group"
    [id]="options.id"
    [inputId]="options.inputId"
    [inputStyle]="options.inputStyle"
    [inputStyleClass]="options.inputStyleClass"
    [lazy]="options.lazy ?? false"
    [maxlength]="options.maxlength ?? null"
    [minLength]="options.minLength ?? 1"
    [multiple]="options.multiple"
    [name]="options.name"
    [optionGroupChildren]="options.optionGroupChildren ?? 'items'"
    [optionGroupLabel]="options.optionGroupLabel ?? 'label'"
    [optionDisabled]="options.optionDisabled"
    [optionLabel]="options.optionLabel"
    [optionValue]="options.optionValue"
    [overlayOptions]="options.overlayOptions"
    [panelStyle]="options.panelStyle"
    [panelStyleClass]="options.panelStyleClass"
    [placeholder]="options.placeholder"
    [readonly]="options.readonly"
    [required]="options.required ?? false"
    [scrollHeight]="options.scrollHeight ?? '200px'"
    [showClear]="options.showClear ?? false"
    [searchLocale]="options.searchLocale"
    [searchMessage]="options.searchMessage"
    [selectionMessage]="options.selectionMessage"
    [selectOnFocus]="options.selectOnFocus"
    [showEmptyMessage]="options.showEmptyMessage ?? true"
    [size]="options.size"
    [style]="options.style"
    [styleClass]="options.styleClass"
    [suggestions]="suggestions"
    [tabindex]="options.tabindex"
    [type]="options.type ?? 'text'"
    [unique]="options.unique ?? true"
    [variant]="options.variant ?? 'outlined'"
    [virtualScroll]="options.virtualScroll"
    [virtualScrollItemSize]="options.virtualScrollItemSize"
    [virtualScrollOptions]="options.virtualScrollOptions"
    (completeMethod)="completeHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onDropdownClick)="onDropdownClickHandler($event)"
    (onFocus)="onFocusHandler($event)"
    (onHide)="onHideHandler($event)"
    (onKeyUp)="onKeyUpHandler($event)"
    (onSelect)="onSelectHandler($event)"
    (onShow)="onShowHandler($event)"
    (onUnselect)="onUnselectHandler($event)"
    (onLazyLoad)="onLazyLoadHandler($event)">
</p-autoComplete>
