@use 'colors';

$glow-1-color: rgba(colors.$surface-100-lighter, 0.2);
$glow-2-color: rgba(colors.$surface-100-lighter, 0.25);
$glow-3-color: rgba(colors.$surface-100-lighter, 0.4);
$glow-4-color: rgba(colors.$surface-100-lighter, 0.5);

$glow-1: 0 0 2px 2px $glow-1-color;
$glow-1-inner: $glow-1 inset;
$glow-1-both: $glow-1, $glow-1-inner;

$glow-2: 0 0 3px 3px $glow-2-color;
$glow-2-inner: $glow-2 inset;
$glow-2-both: $glow-2, $glow-2-inner;

$glow-3: 0 0 5px 5px $glow-3-color;
$glow-3-inner: $glow-3 inset;
$glow-3-both: $glow-3, $glow-3-inner;

$glow-4: 0 0 10px 5px $glow-4-color;
$glow-4-inner: $glow-4 inset;
$glow-4-both: $glow-4, $glow-4-inner;

$text-glow-1: 0 0 3px rgba(255, 255, 255, 0.8);