<div 
    [ngClass]="pageLayoutStyleClasses"
    [style]="pageLayoutStyles?.style">
    
    <ng-container *ngIf="customTopNavDef; else wsTopNav">
        <ws-dynamic [componentDef]="customTopNavDef"></ws-dynamic>
    </ng-container>

    <ng-template #wsTopNav>
        <ws-top-nav [config]="wsTopNavConfig"></ws-top-nav>
    </ng-template>

    <div 
        [ngClass]="pageContentStyleClasses"
        [style]="pageContentStyles?.style">
        
        <ng-content></ng-content>
    </div>
</div>