<p-password #passwordRef
    [formControl]="innerControl"
    [ariaLabel]="options.ariaLabel"
    [ariaLabelledBy]="options.ariaLabelledBy"
    [label]="options.label"
    [disabled]="options.disabled ?? false"
    [promptLabel]="options.promptLabel"
    [mediumRegex]="options.mediumRegex ?? '^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})'"
    [strongRegex]="options.strongRegex ?? '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})'"
    [weakLabel]="options.weakLabel"
    [mediumLabel]="options.mediumLabel"
    [maxLength]="options.maxLength"
    [strongLabel]="options.strongLabel"
    [inputId]="options.inputId"
    [feedback]="options.feedback ?? true"
    [appendTo]="options.appendTo"
    [toggleMask]="options.toggleMask"
    [inputStyleClass]="options.inputStyleClass"
    [styleClass]="options.styleClass"
    [style]="options.style"
    [inputStyle]="options.inputStyle"
    [showTransitionOptions]="options.showTransitionOptions ?? '.12s cubic-bezier(0, 0, 0.2, 1)'"
    [hideTransitionOptions]="options.hideTransitionOptions ?? '.1s linear'"
    [autocomplete]="options.autocomplete"
    [placeholder]="options.placeholder"
    [showClear]="options.showClear ?? false"
    [autofocus]="options.autofocus"
    [variant]="options.variant ?? 'outlined'"
    (onFocus)="onFocusHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onClear)="onClearHandler($event)">
</p-password>
