//@use 'primeflex/primeflex.scss' as *;

.ws-element-border {
    border-color: var(--surface-d) !important;
    border-width: 2px !important;
}

.p-button {

    background-color: var(--button-std-bg);
    border-color: var(--surface-border);

    &:hover {
        background-color: var(--button-std-bg-hover);
        border-color: var(--bluegray-300) !important;
    }
}

.ws {
    &-button {
        background-color: var(--surface-e);
        color: var(--primary-color-text);
        border: none;
        transition: all 0.5s ease;

        &:hover {
            background-color: var(--primary-color);
            color: var(--primary-color-text);
            box-shadow: var(--primary-glow);
        }

        &-scroll {
            @extend .ws-button;
            background-color: var(--surface-400);
            color: var(--text-color);

            min-width: 6rem;

            &:hover {
                background-color: var(--surface-600);
                color: white;
                text-shadow: 0 0 4px RGBA(0, 0, 0, 0.5);
            }

        }
    }


    &-dict-btn {
        border-radius: 0 !important;

        &-end {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}

