@import 'primeflex/primeflex.scss';
@import './z-index.scss';

.ws-element-border {
    border-color: var(--surface-d) !important;
    border-width: 2px !important;
}

.p-button {

    background-color: var(--button-std-bg);
    border-color: var(--surface-border);

    &:hover {
        background-color: var(--button-std-bg-hover);
        border-color: var(--bluegray-300) !important;
    }
}

.ws {
    &-button {
        //z-index: var(--bz-button);

        &:hover {
            //z-index: var(--bz-button-hover);
        }

        &-scroll {
            @extend .ws-button;

            min-width: 6rem;

        }
    }


    &-dict-btn {
        @include styleclass('border-noround');

        &-end {
            @extend .border-noround-left;
        }
    }
}

