@use '_index' as ws;

@import 'primeflex/primeflex.css';
@import 'quill/dist/quill.snow.css';
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.core.css';


@mixin test-mixin {
    background-color: red !important;
}

.test-mixin {
    @include test-mixin;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    
}

.refresh-bar {
	width: 200vw;
	position: fixed;
	top: -115px;
	height: 200px;
	left: -50vw;
	background-color: rgba(150, 150, 150, 0.4);
	z-index: 100000;
	//translate: 0 -100px;
	border-radius: 100%;
	box-shadow: 0 0 10px 5px black, 0 0 10px 0 white;
	background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(200, 200, 200, 0.4));

    &-loading {
        display: none;
    }
}

.refresh-bar-closing {
	transition: ws.$vars-common-transition;
}

.hoverable-text {
    &-light {
        transition: ws.$vars-common-transition;

        &:hover {
            color: white;
            text-shadow: 0 0 2px #a2dcfd;
        }
    }

    &-dark {
        transition: ws.$vars-common-transition;

        &:hover {
            color: lighten(ws.$mw-text-color, 20%);
            text-shadow: 0 0 4px white;
        }
    }
}

.engraved {
    background-image:url("http://www.digibolt.eu/7.jpg");
    text-shadow: -1px -1px rgba(0,0,0,0.5), 1px 1px rgba(255,255,255,0.5);
    color: rgba(139,69,19,0.4);
    margin: 10px;
    padding: 10px;
}

ws-svg,
svg {
    pointer-events: none;
}
  
svg path {
    pointer-events: visiblePainted;
}
