$base-z-index: 1000;
$bz-top-nav: calc($base-z-index + 2000);
$bz-top-nav-content: calc($bz-top-nav + 1);
$bz-side-nav: calc($base-z-index + 2000);
$bz-dialog: calc($base-z-index + 10000);
$bz-button-base: inherit;
$bz-button: calc($bz-button-base + 1);
$bz-button-hover: calc($bz-button-base + 2);