<div [ngClass]="wrapperStyleClasses" [style]="wrapperStyles?.style">
	<ng-container *ngIf="isLink; else imageOnly">
        <a [routerLink]="linkUrl">
            <img  
                [ngClass]="imgStyleClasses"
                [src]="logoImage" 
                [alt]="logoAltText"
                [style]="imgStyles?.style"
            />
        </a>
    </ng-container>

    <ng-template #imageOnly>
        <img  
            [ngClass]="imgStyleClasses"
            [src]="logoImage" 
            [alt]="logoAltText"
            [style]="imgStyles?.style"
        />
    </ng-template>
</div>