<div [class]="baseStyleClasses" [style]="baseStyles?.style">
    @for(element of model$ | async; track elementId) {
        @if(element.config && element.classType != null) {
            <div [class]="element.config.layoutStyles?.baseClass ?? 'col-12'" [style]="layoutStyles?.style">
                @if(element.config.label) {
                    <label
                        [class]="element.config.labelStyles?.baseClass ?? 'ws-label'"
                        [style]="element.config.labelStyles?.style"
                        [for]="element.config.id">{{element.config.label}}</label>
                
                }
                <ng-container *ngComponentOutlet="element.classType; inputs: element.config;" class="test-class">
                    
                </ng-container>
            </div>
        }
    }
</div>