<p-inputNumber #inputNumberRef
    [formControl]="innerControl"
    [showButtons]="options.showButtons ?? false"
    [format]="options.format ?? true"
    [buttonLayout]="options.buttonLayout ?? 'stacked'"
    [inputId]="options.inputId"
    [styleClass]="options.styleClass"
    [style]="options.style"
    [placeholder]="options.placeholder"
    [size]="options.size"
    [maxlength]="options.maxlength ?? ''"
    [tabindex]="options.tabindex"
    [title]="options.title"
    [ariaLabelledBy]="options.ariaLabelledBy"
    [ariaLabel]="options.ariaLabel"
    [ariaRequired]="options.ariaRequired"
    [name]="options.name"
    [required]="options.required ?? false"
    [autocomplete]="options.autocomplete"
    [min]="options.min"
    [max]="options.max"
    [incrementButtonClass]="options.incrementButtonClass"
    [decrementButtonClass]="options.decrementButtonClass"
    [incrementButtonIcon]="options.incrementButtonIcon"
    [decrementButtonIcon]="options.decrementButtonIcon"
    [readonly]="options.readonly ?? false"
    [step]="options.step ?? 1"
    [allowEmpty]="options.allowEmpty ?? true"
    [locale]="options.locale"
    [localeMatcher]="options.localeMatcher"
    [mode]="options.mode ?? 'decimal'"
    [currency]="options.currency"
    [currencyDisplay]="options.currencyDisplay"
    [useGrouping]="options.useGrouping ?? true"
    [variant]="options.variant ?? 'outlined'"
    [minFractionDigits]="options.minFractionDigits"
    [maxFractionDigits]="options.maxFractionDigits"
    [prefix]="options.prefix"
    [suffix]="options.suffix"
    [inputStyle]="options.inputStyle"
    [inputStyleClass]="options.inputStyleClass"
    [showClear]="options.showClear ?? false"
    [autofocus]="options.autofocus"
    (onInput)="onInputHandler($event)"
    (onFocus)="onFocusHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onKeyDown)="onKeyDownHandler($event)"
    (onClear)="onClearHandler($event)">
</p-inputNumber>
