<p-button #buttonRef
    [type]="options.type ?? 'button'"
    [iconPos]="options.iconPos ?? 'left'"
    [icon]="options.icon"
    [badge]="options.badge"
    [label]="options.label"
    [loading]="options.loading ?? false"
    [loadingIcon]="options.loadingIcon"
    [raised]="options.raised ?? false"
    [rounded]="options.rounded ?? false"
    [text]="options.text ?? false"
    [plain]="options.plain ?? false"
    [severity]="options.severity"
    [outlined]="options.outlined ?? false"
    [link]="options.link ?? false"
    [tabindex]="options.tabindex"
    [size]="options.size"
    [style]="options.style"
    [styleClass]="options.styleClass"
    [badgeClass]="options.badgeClass"
    [ariaLabel]="options.ariaLabel"
    [autofocus]="options.autofocus"
    (onClick)="onClickHandler!($event)"
    (onFocus)="onFocusHandler!($event)"
    (onBlur)="onBlurHandler!($event)">
</p-button>
