<p-calendar #calendarRef
    [formControl]="innerControl"
    [iconDisplay]="options.iconDisplay ?? 'button'"
    [style]="options.style"
    [styleClass]="options.styleClass"
    [inputStyle]="options.inputStyle"
    [inputId]="options.inputId"
    [name]="options.name"
    [inputStyleClass]="options.inputStyleClass"
    [placeholder]="options.placeholder"
    [ariaLabelledBy]="options.ariaLabelledBy"
    [ariaLabel]="options.ariaLabel"
    [iconAriaLabel]="options.iconAriaLabel"
    [disabled]="options.disabled ?? false"
    [dateFormat]="options.dateFormat"
    [multipleSeparator]="options.multipleSeparator ?? ','"
    [rangeSeparator]="options.rangeSeparator ?? '-'"
    [inline]="options.inline ?? false"
    [showOtherMonths]="options.showOtherMonths ?? true"
    [selectOtherMonths]="options.selectOtherMonths"
    [showIcon]="options.showIcon"
    [icon]="options.icon"
    [appendTo]="options.appendTo"
    [readonlyInput]="options.readonlyInput"
    [shortYearCutoff]="options.shortYearCutoff ?? '+10'"
    [monthNavigator]="options.monthNavigator"
    [yearNavigator]="options.yearNavigator"
    [hourFormat]="options.hourFormat ?? '24'"
    [timeOnly]="options.timeOnly"
    [stepHour]="options.stepHour ?? 1"
    [stepMinute]="options.stepMinute ?? 1"
    [stepSecond]="options.stepSecond ?? 1"
    [showSeconds]="options.showSeconds ?? false"
    [required]="options.required ?? false"
    [showOnFocus]="options.showOnFocus ?? true"
    [showWeek]="options.showWeek ?? false"
    [startWeekFromFirstDayOfYear]="options.startWeekFromFirstDayOfYear ?? false"
    [showClear]="options.showClear ?? false"
    [dataType]="options.dataType ?? 'date'"
    [selectionMode]="options.selectionMode ?? 'single'"
    [maxDateCount]="options.maxDateCount"
    [showButtonBar]="options.showButtonBar"
    [todayButtonStyleClass]="options.todayButtonStyleClass ?? 'p-button-text'"
    [clearButtonStyleClass]="options.clearButtonStyleClass ?? 'p-button-text'"
    [autofocus]="options.autofocus"
    [autoZIndex]="options.autoZIndex ?? true"
    [baseZIndex]="options.baseZIndex ?? 0"
    [panelStyleClass]="options.panelStyleClass"
    [panelStyle]="options.panelStyle"
    [keepInvalid]="options.keepInvalid ?? false"
    [hideOnDateTimeSelect]="options.hideOnDateTimeSelect ?? true"
    [touchUI]="options.touchUI"
    [timeSeparator]="options.timeSeparator ?? ':'"
    [focusTrap]="options.focusTrap ?? true"
    [showTransitionOptions]="options.showTransitionOptions ?? '.12s cubic-bezier(0, 0, 0.2, 1)'"
    [hideTransitionOptions]="options.hideTransitionOptions ?? '.1s linear'"
    [tabindex]="options.tabindex"
    [variant]="options.variant ?? 'outlined'"
    (onFocus)="onFocusHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onClose)="onCloseHandler($event)"
    (onSelect)="onSelectHandler($event)"
    (onClear)="onClearHandler($event)"
    (onInput)="onInputHandler($event)"
    (onTodayClick)="onTodayClickHandler($event)"
    (onClearClick)="onClearClickHandler($event)"
    (onMonthChange)="onMonthChangeHandler($event)"
    (onYearChange)="onYearChangeHandler($event)"
    (onClickOutside)="onClickOutsideHandler($event)"
    (onShow)="onShowHandler($event)">
</p-calendar>
