<p-treeSelect #treeSelectRef
    [formControl]="innerControl"
    [inputId]="options.inputId"
    [scrollHeight]="options.scrollHeight ?? '400px'"
    [disabled]="options.disabled ?? false"
    [metaKeySelection]="options.metaKeySelection ?? false"
    [variant]="options.variant ?? 'outlined'"
    [display]="options.display ?? 'comma'"
    [selectionMode]="options.selectionMode ?? 'single'"
    [tabindex]="options.tabindex ?? '0'"
    [ariaLabel]="options.ariaLabel"
    [ariaLabelledBy]="options.ariaLabelledBy"
    [placeholder]="options.placeholder"
    [panelClass]="options.panelClass"
    [panelStyle]="options.panelStyle"
    [panelStyleClass]="options.panelStyleClass"
    [containerStyle]="options.containerStyle"
    [containerStyleClass]="options.containerStyleClass"
    [labelStyle]="options.labelStyle"
    [labelStyleClass]="options.labelStyleClass"
    [overlayOptions]="options.overlayOptions"
    [emptyMessage]="options.emptyMessage ?? ''"
    [appendTo]="options.appendTo"
    [filter]="options.filter ?? false"
    [filterBy]="options.filterBy ?? 'label'"
    [filterMode]="options.filterMode ?? 'lenient'"
    [filterPlaceholder]="options.filterPlaceholder"
    [filterLocale]="options.filterLocale"
    [filterInputAutoFocus]="options.filterInputAutoFocus ?? true"
    [propagateSelectionDown]="options.propagateSelectionDown ?? true"
    [propagateSelectionUp]="options.propagateSelectionUp ?? true"
    [showClear]="options.showClear ?? false"
    [resetFilterOnHide]="options.resetFilterOnHide ?? true"
    [virtualScroll]="options.virtualScroll"
    [virtualScrollItemSize]="options.virtualScrollItemSize"
    [virtualScrollOptions]="options.virtualScrollOptions"
    [autofocus]="options.autofocus"
    (onNodeExpand)="onNodeExpandHandler($event)"
    (onNodeCollapse)="onNodeCollapseHandler($event)"
    (onShow)="onShowHandler($event)"
    (onHide)="onHideHandler($event)"
    (onClear)="onClearHandler($event)"
    (onFilter)="onFilterHandler($event)"
    (onNodeUnselect)="onNodeUnselectHandler($event)"
    (onNodeSelect)="onNodeSelectHandler($event)">
</p-treeSelect>
