<!-- app-top-nav is a vertical flex box -->
<div 
    [ngClass]="topNavStyleClasses" 
    [style]="topNavStyles?.style">

    <ng-container *ngIf="topNavDef == null; else templated">

        <!-- nav-wrapper is a horizontal flex box -->
        <div [ngClass]="topNavWrapperStyleClasses" [style]="topNavWrapperStyles?.style">
            <ng-container *ngIf="logoDef">
                <ws-dynamic [componentDef]="logoDef"></ws-dynamic>
            </ng-container>

            <!-- nav-header contains the header text in a separate flex box that orients off of screen size -->
            <div [ngClass]="headerStyleClasses" [style]="headerStyles?.style">
                <span [ngClass]="headerTextStyleClasses" [style]="headerTextStyles?.style">
                    {{headerText}}
                </span>
            </div>
        </div>
        <ng-container *ngIf="navMenuDef">
            <div [ngClass]="navMenuWrapperClasses" [style]="navMenuWrapperStyles?.style">
                <ws-dynamic [componentDef]="navMenuDef"></ws-dynamic>
            </div>
        </ng-container>

    </ng-container>

    <ng-template #templated>
        <ws-dynamic [componentDef]="topNavDef"></ws-dynamic>
    </ng-template>

</div>

<!-- <div 
    [ngClass]="topNavShadowStyleClasses"
    >
</div> -->
<div class="app-top-nav-shadow"></div>