@if(!useMobile){
    <div [class]="menuBarStyleClasses" [style]="menuBarStyles?.style">
        @if(!showMenu) {
            <div [class]="coverStyleClasses" [style]="coverStyles?.style"></div>
        }
        @for(item of model$ | async; track item.label) {
            <div [class]="menuItemStyleClasses" [style]="menuItemStyles?.style">
                <button 
                    type="button" 
                    [class]="menuBarButtonStyleClasses"
                    [style]="menuBarButtonStyles?.style"
                    [attr.aria-expanded]="item.isExpanded"
                    aria-controls="collapseBasic"
                >
                    {{item.label}}
                </button>
    
                <div id="collapseBasic" [collapse]="!item.isExpanded" [isAnimated]="true">
                    <div [class]="subMenuStyleClasses" [style]="subMenuStyles?.style">
                        
                        @for(subItem of item.items; track subItem.label) {
                            <span [class]="subMenuItemStyleClasses" [style]="subMenuItemStyles?.style">{{subItem.label}}</span>
                        }
                        
                        @if(usePennant) {
                            <ws-svg></ws-svg>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
@else {
    <div [class]="menuBarStyleClasses" [style]="menuBarStyles?.style">
        @if(!showMenu) {
            <div [class]="coverStyleClasses" [style]="coverStyles?.style"></div>
        }

        @for(item of model$ | async; track item.label) {
            <div #topMenuItem [class]="menuItemStyleClasses" [style]="menuItemStyles?.style">
                <button 
                    type="button" 
                    [class]="menuBarButtonStyleClasses"
                    [style]="menuBarButtonStyles?.style"
                    [attr.aria-expanded]="item.isExpanded"
                    aria-controls="collapseBasic"
                    (click)="handleItemClick(item)"
                >
                    {{item.label}}
                </button>
    
                <div [class]="subMenuMobileWrapperStyleClasses" [style]="subMenuMobileWrapperStyles?.style">
                    <div id="collapseBasic" [collapse]="!item.isExpanded" [isAnimated]="true">
                        <div [class]="subMenuStyleClasses" [style]="subMenuStyles?.style">
                            
                            @for(menuItem of item.items; track menuItem.label) {
                                <span #subMenuItem
                                    [class]="subMenuItemStyleClasses"
                                    [style]="subMenuItemStyles?.style"
                                    aria-controls="collapseBasicSub"
                                    (click)="handleItemClick(menuItem)"
                                >
                                    {{menuItem.label}}
                                </span>
    
                                <div id="collapseBasicSub" [collapse]="!menuItem.isExpanded" [isAnimated]="true">
                                    <div [class]="subMenuStyleClasses" [style]="subMenuStyles?.style">
                                        
                                        @for(subItem of menuItem.items; track subItem.label) {
                                            <span [class]="mobileItemStyleClasses"  [style]="mobileItemStyles?.style">{{subItem.label}}</span>
                                        }
                                        
                                    </div>
                                </div>
                            }
    
                            @if(useSpacer) {
                                <div class="spacer"></div>
                            }

                            @if(usePennant) {
                                <ws-svg></ws-svg>
                            }
                            
                        </div>
                    </div>
                </div >
            </div>
        }
    </div>
}