@if(!useMobile){
    <div [class]="menuBarStyleClasses" [style]="menuBarStyles?.style">
        @if(!showMenu) {
            <div [class]="coverStyleClasses" [style]="coverStyles?.style"></div>
        }
        @for(item of model$ | async; track item.label) {
            <div [class]="menuItemStyleClasses" [style]="menuItemStyles?.style">
                <button 
                    type="button" 
                    [ngClass]="menuBarButtonStyleClasses"
                    
                    [style]="menuBarButtonStyles?.style"
                    (click)="handleItemClick($event, item)"
                    [attr.aria-expanded]="item.isExpanded"
                    aria-controls="collapseBasic"
                >
                    @if(item.icon) {
                        <!-- <span class="col-2"></span> -->
                        <i [class]="item.icon" ></i>
                    }
                    <span class="pl-2">
                        {{item.label}}
                    </span>
                </button>
    
                <div id="collapseBasic" [collapse]="!item.isExpanded" [isAnimated]="true">
                    <div [class]="subMenuStyleClasses" [style]="subMenuStyles?.style">
                        
                        @for(subItem of item.items; track subItem.label) {
                            <span 
                                [ngClass]="subMenuItemStyleClasses" 
                                [style]="subMenuItemStyles?.style"
                                [class]="hasIcons(item.items) ? 'grid grid-nogutter align-items-center' : ''"
                                (click)="handleItemClick($event, subItem)"
                            >

                                @if(hasIcons(item.items)) {
                                    <!-- <span class="col-3"></span> -->
                                    <i [class]="subItem.icon" class="col-3 text-right"></i>
                                }
                                <span [class]="hasIcons(item.items) ? 'col-6' : 'col-9'">
                                    {{subItem.label}}
                                </span>
                            </span>
                        }
                        
                        @if(usePennant) {
                            <ws-svg></ws-svg>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
@else {
    <div [class]="menuBarStyleClasses" [style]="menuBarStyles?.style">
        @if(!showMenu) {
            <div [class]="coverStyleClasses" [style]="coverStyles?.style"></div>
        }

        @for(item of model$ | async; track item.label) {
            <div #topMenuItem [class]="menuItemStyleClasses" [style]="menuItemStyles?.style">
                <button 
                    type="button" 
                    [ngClass]="menuBarButtonStyleClasses"
                    [style]="menuBarButtonStyles?.style"
                    [attr.aria-expanded]="item.isExpanded"
                    aria-controls="collapseBasic"
                    (click)="handleItemClick($event, item)"
                >

                    @if(item.icon) {
                        <i [class]="item.icon"></i>
                    }
                    <span [class]="item.icon ? 'pl-2' : ''">
                        {{item.label}}
                    </span>
                </button>
    
                <div [class]="subMenuMobileWrapperStyleClasses" [style]="subMenuMobileWrapperStyles?.style">
                    <div id="collapseBasic" [collapse]="!item.isExpanded" [isAnimated]="true">
                        <div [class]="subMenuStyleClasses" [style]="subMenuStyles?.style">
                            
                            @for(menuItem of item.items; track menuItem.label) {
                                <span #subMenuItem
                                    [ngClass]="subMenuItemStyleClasses"
                                    [style]="subMenuItemStyles?.style"
                                    aria-controls="collapseBasicSub"
                                    (click)="handleItemClick($event, menuItem)"
                                >

                                    @if(menuItem.icon) {
                                        <i [class]="menuItem.icon" ></i>
                                    }
                                    <span [class]="menuItem.icon ? 'pl-2' : ''">
                                        {{menuItem.label}}
                                    </span>
                                </span>
    
                                <div id="collapseBasicSub" [collapse]="!menuItem.isExpanded" [isAnimated]="true">
                                    <div [class]="subMenuStyleClasses" [style]="subMenuStyles?.style">
                                        
                                        @for(subItem of menuItem.items; track subItem.label) {
                                            <span 
                                                [ngClass]="mobileItemStyleClasses"
                                                [style]="mobileItemStyles?.style"
                                                [class]="hasIcons(menuItem.items) ? 'grid grid-nogutter align-items-center' : ''"
                                                (click)="handleItemClick($event, subItem)"
                                            >

                                                @if(hasIcons(menuItem.items)) {
                                                    <i [class]="subItem.icon" class="col-3"></i>
                                                }
                                                <span [class]="hasIcons(menuItem.items) ? 'col-9 text-left' : ''">
                                                    {{subItem.label}}
                                                </span>
                                            </span>
                                        }
                                        
                                    </div>
                                </div>
                            }
    
                            @if(useSpacer) {
                                <div class="spacer"></div>
                            }

                            @if(usePennant) {
                                <ws-svg></ws-svg>
                            }
                            
                        </div>
                    </div>
                </div >
            </div>
        }
    </div>
}