<p-dropdown
    [formControl]="innerControl"
    [options]="optionValues"
    [appendTo]="options?.appendTo ?? 'body'"
    [optionValue]="options?.optionValue ?? 'value'"
    [optionLabel]="options?.optionLabel ?? 'label'"
    [autoDisplayFirst]="options?.autoDisplayFirst ?? true"
    [filter]="options?.filter ?? false"
    [filterBy]="options?.filterBy ?? 'label'"
    [filterMatchMode]="options?.filterMatchMode ?? 'contains'"
    [scrollHeight]="options?.scrollHeight ?? '200px'"
    [dropdownIcon]="options?.dropdownIcon ?? 'pi pi-chevron-down'"
    [panelStyle]="options?.panelStyle"
    [panelStyleClass]="options?.panelStyleClass"
    [dataKey]="options?.dataKey"
    [showClear]="options?.showClear ?? false"
    [style]="options?.style"
    [styleClass]="options?.styleClass"
    
    (onClick)="onClickHandler($event)"
    (onMouseEnter)="onMouseEnterHandler($event)"
    (onChange)="onChangeHandler($event)"
    (onFilter)="onFilterHandler($event)"
    (onFocus)="onFocusHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onClick)="onClickHandler($event)"
    (onShow)="onShowHandler($event)"
    (onHide)="onHideHandler($event)"
    (onClear)="onClearHandler($event)"
    (onLazyLoad)="onLazyLoadHandler($event)">
</p-dropdown>
