<p-dropdown
    [formControl]="innerControl"
    [options]="optionValues"
    (onClick)="onClickHandler($event)"
    (onMouseEnter)="onMouseEnterHandler($event)"
    (onChange)="onChangeHandler($event)"
    (onFilter)="onFilterHandler($event)"
    (onFocus)="onFocusHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onClick)="onClickHandler($event)"
    (onShow)="onShowHandler($event)"
    (onHide)="onHideHandler($event)"
    (onClear)="onClearHandler($event)"
    (onLazyLoad)="onLazyLoadHandler($event)">
</p-dropdown>
