<p-multiSelect
    [formControl]="innerControl"
    [options]="optionValues"
    [id]="id"
    [ariaLabel]="options.ariaLabel"
    [style]="options.style"
    [styleClass]="options.styleClass"
    [panelStyle]="options.panelStyle"
    [panelStyleClass]="options.panelStyleClass"
    [inputId]="options.inputId"
    [readonly]="options.readonly"
    [group]="options.group"
    [filter]="options.filter"
    [placeholder]="options.placeholder"
    [filterPlaceHolder]="options.filterPlaceHolder"
    [filterLocale]="options.filterLocale"
    [overlayVisible]="options.overlayVisible"
    [tabindex]="options.tabindex"
    [appendTo]="options.appendTo"
    [dataKey]="options.dataKey"
    [name]="options.name"
    [ariaLabelledBy]="options.ariaLabelledBy"
    [displaySelectedLabel]="options.displaySelectedLabel ?? true"
    [maxSelectedLabels]="options.maxSelectedLabels"
    [selectionLimit]="options.selectionLimit"
    [selectedItemsLabel]="options.selectedItemsLabel"
    [showToggleAll]="options.showToggleAll"
    [emptyFilterMessage]="options.emptyFilterMessage ?? ''"
    [emptyMessage]="options.emptyMessage ?? ''"
    [resetFilterOnHide]="options.resetFilterOnHide"
    [dropdownIcon]="options.dropdownIcon"
    [optionLabel]="options.optionLabel"
    [optionValue]="options.optionValue"
    [optionDisabled]="options.optionDisabled"
    [optionGroupLabel]="options.optionGroupLabel"
    [optionGroupChildren]="options.optionGroupChildren ?? 'items'"
    [showHeader]="options.showHeader"
    [filterBy]="options.filterBy"
    [scrollHeight]="options.scrollHeight ?? '200px'"
    [lazy]="options.lazy"
    [virtualScroll]="options.virtualScroll"
    [virtualScrollItemSize]="options.virtualScrollItemSize"
    [virtualScrollOptions]="options.virtualScrollOptions"
    [overlayOptions]="options.overlayOptions"
    [ariaFilterLabel]="options.ariaFilterLabel"
    [filterMatchMode]="options.filterMatchMode ?? 'contains'"
    [tooltip]="options.tooltip ?? ''"
    [tooltipPosition]="options.tooltipPosition ?? 'right'"
    [tooltipPositionStyle]="options.tooltipPositionStyle ?? 'absolute'"
    [tooltipStyleClass]="options.tooltipStyleClass"
    [autofocusFilter]="options.autofocusFilter"
    [display]="options.display ?? 'chip'"
    [autocomplete]="options.autocomplete ?? 'off'"
    [showClear]="options.showClear"
    [autofocus]="options.autofocus"
    [filterValue]="filterValue"
    [selectAll]="options.selectAll"
    [focusOnHover]="options.focusOnHover"
    [filterFields]="options.filterFields"
    [selectOnFocus]="options.selectOnFocus"
    [variant]="options.variant ?? 'outlined'"
    (onClick)="onClickHandler($event)"
    (onMouseEnter)="onMouseEnterHandler($event)"
    (onChange)="onChangeHandler($event)"
    (onFilter)="onFilterHandler($event)"
    (onFocus)="onFocusHandler($event)"
    (onBlur)="onBlurHandler($event)"
    (onClick)="onClickHandler($event)"
    (onClear)="onClearHandler($event)"
    (onPanelShow)="onPanelShowHandler($event)"
    (onPanelHide)="onPanelHideHandler($event)"
    (onLazyLoad)="onLazyLoadHandler($event)"
    (onRemove)="onRemoveHandler($event)"
    (onSelectAllChange)="onSelectAllChangeHandler($event)">
</p-multiSelect>